body {
    margin: 0;
    font-family: "Archivo Black", sans-serif;
font-weight: 400;
font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #C3C2C1;
    
}

.container {
   
width: 80vw;

display: flex;
align-items: center;
/* justify-content: space-around; */
flex-direction: column;
background: #443850;
color: whitesmoke;
font-size: 34px;
padding: 50px;
margin: auto;
border-radius: 20px;
border:  5px solid whitesmoke;
    
     
}

.game-container{
    display: flex;
    justify-items: space between;
    gap: 200px;
}

.inner-container{
    background-color: #080001;
    color: #BBBE64;
    font-size: 36px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
   margin-bottom: 30px;
    
}

h3{
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
}

.btn{
font-family: "Press Start 2P", system-ui; 
font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding:  10px 8px;
  background: #BCAA99 ;
  border: 2px solid black;
  border-radius: 5px;
  width: 54px;
  height: 54px;
  text-align: center;
   
}

.btn:hover{
background: #BFB4AA ;
border: 2px solid black;  
}

.start-container{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.start-btn{
    margin-top: 30px ;
    display: flex;
    background-color: #8E5572;
    padding: 20px 30px;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 40px;
   
}

.start-btn:hover{
    background-color: #704159;
}